iterations/
sources/
other/
*.aux
*.bbl
*.blg
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
img/xcf/
img/draw/regression*
img/high_low_dmg*
rubbish*
Abschlussarbeit_352667.pdf
thesis_for_proofing.pdf
thesis.pdf
pdf_input/*